---
import SidebarLayout from '../layouts/SidebarLayout.astro';
const title = "Amazon Kindle Jailbreak Guide";
---

<SidebarLayout title={title}>
  <section class="prose prose-lg max-w-none">
    <h1>Amazon Kindle Jailbreak Guide</h1>
    <p>
      This page contains instructions and resources for jailbreaking Amazon Kindle devices. Learn how to unlock your Kindle to install custom apps like KOReader, remove ads, and extend functionality.
    </p>
    <ul>
      <li><a href="https://wiki.mobileread.com/wiki/Kindle_Hacks" target="_blank" rel="noopener">MobileRead Kindle Hacks</a></li>
      <li><a href="https://github.com/koreader/koreader" target="_blank" rel="noopener">KOReader on GitHub</a></li>
      <li><a href="/kindle/firmware" >Kindle Firmware Info</a></li>
    </ul>
  </section>
</SidebarLayout>
