---
import SidebarLayout from '../layouts/SidebarLayout.astro';
const title = "PocketBook Jailbreak Guide";
---

<SidebarLayout title={title}>
  <section class="prose prose-lg max-w-none">
    <h1>PocketBook Jailbreak Guide</h1>
    <p>
      Discover how to jailbreak PocketBook e-readers to unlock advanced features and install community-developed apps.
    </p>
    <ul>
      <li><a href="https://wiki.mobileread.com/wiki/PocketBook_Hacks" target="_blank" rel="noopener">MobileRead PocketBook Hacks</a></li>
      <li><a href="/pocketbook/firmware">PocketBook Firmware Info</a></li>
    </ul>
  </section>
</SidebarLayout>
