---
import SplitLayout from '../layouts/SplitLayout.astro';
const title = "Community & Resources";
---

<SplitLayout title={title}>
  <h2>Community & Resources</h2>

  <p>Join active communities, find trusted resources, and get support for jailbreaking your device.</p>

  <h3>Kindle</h3>
  <ul>
    <li><a href="https://www.mobileread.com/forums/forumdisplay.php?f=142" target="_blank" rel="noopener">MobileRead Kindle Forum</a></li>
    <li><a href="https://www.reddit.com/r/kindle/" target="_blank" rel="noopener">Reddit r/kindle</a></li>
    <li><a href="https://discord.gg/kindlejailbreak" target="_blank" rel="noopener">Kindle Jailbreak Discord</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLkindleyouneed" target="_blank" rel="noopener">YouTube Jailbreak Tutorials</a></li>
  </ul>

  <h3>Kobo</h3>
  <ul>
    <li><a href="https://www.mobileread.com/forums/forumdisplay.php?f=145" target="_blank" rel="noopener">MobileRead Kobo Forum</a></li>
    <li><a href="https://www.reddit.com/r/kobo/" target="_blank" rel="noopener">Reddit r/kobo</a></li>
    <li><a href="https://discord.gg/kobojailbreak" target="_blank" rel="noopener">Kobo Jailbreak Discord</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLkoboyouneed" target="_blank" rel="noopener">YouTube Jailbreak Tutorials</a></li>
  </ul>

  <h3>PocketBook</h3>
  <ul>
    <li><a href="https://www.mobileread.com/forums/forumdisplay.php?f=147" target="_blank" rel="noopener">MobileRead PocketBook Forum</a></li>
    <li><a href="https://discord.gg/pocketbookjailbreak" target="_blank" rel="noopener">PocketBook Jailbreak Discord</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLpocketbookyouneed" target="_blank" rel="noopener">YouTube Jailbreak Tutorials</a></li>
  </ul>
</SplitLayout>
